$primary:#1155CC;
$primaryLight: #D0D7E2;
$secondary:#EF485C;
$secondaryLight: #E6D6D8;
$secondaryDark: #C92A3D;
$text:#1E234C;
$primaryText: white;
$body:#464A6B;
$label:#6E7191;
$ew-field-label: #1E234C;
$placeholderText:#A0A3BD;
$line:#D6D8E7;
$input-bg:#EFF0F6;
$hover:#1155CC;
$bg:#F7F7FC;
$off-white:#FCFCFC;
$white:#FFFFFF;
$success:#0DC1AB;
$info:#0070D9;
$warning:#EFC018;
$error:#F14848;
$black:#000000;
$sidebarSelectedItemBorder:#FE7A10;
$sidebarSelectedItemBackground:#0f1b37;
$sidebarBackground:#202d49;
$headerSearchBarBorder:#9CA5C2;
$app-bg:#E5E5E5;
$app-col:#2c3e50;
$border:#4200FF;
$hover-border:#2D03A4;
$par-bg-col:#f0e68c;
$toast-success-bg:#092D6B;
$dark: #1E234C;
$buttonDisabledbackground: #D6D8E7;
$buttonDisabledColor: #A0A3BD;
$input-border: #9CA5C2;
$bg2:#E5E5E5;
$borderGray: #9CA5C2;
$labelFont: 'IBM Plex Sans', sans-serif;
$labelSize: 14px;
$breadcrumbBG: #f5f5f5;
$veryLightBlue: #DDE9FE;
$tabletitlecardBG:#fafafa;
$accentColor: #cacaca;

$backgroundColorDark: #121212;
$accentColorDark: #3f3f3f;
$lightGray: #e6e6e6;
$littleDark: #303030;
$lightShadowColor: rgba(0, 0, 0, 0.5);
$lightShadowColorDark: rgba(255, 255, 255, 0.2);
$veryLightGray: #f2f2f2;
$navyBlue5perc: rgba(17, 85, 204, 0.05);
$gray: #cccccc;
$tabletitlecardBG:#fafafa;
$shadow: #00000033;
$gray:#FAFAFA;
$light-gray:#DDDDDD;
$mercury:#e4e4e9;
$ghost-white:#F7F7FC;
$snow:#fdfbfb;
$white-smoke:#F8F8F8;
$tabletitlecardBG:#fafafa;
$tasklistContainerbg:#eee;
$tasklistContainerBorder:#d6d6d6;
$darkGray: #424242;
$bgDark: #1f1f1f;
$tabsTextColor: #6E7191;
$textLoadingColor: #828282;
$reportsCardBorder: #417CF2;

$primaryThemeDark: #0784b5;
$primaryLightDark: #373737;
$primaryThemeSecondary: #262626;
$scrollbar-track-dark: #4d4d4d;
$scrollbar-thumb-dark: #737373;
$scrollbar-thumb-hover-dark: #999999;
$white_alpha_01: rgba(255,255,255,0.1);
$white_alpha_02: rgba(255,255,255,0.2);
$white_alpha_03: rgba(255,255,255,0.3);
$white_alpha_04: rgba(255,255,255,0.4);
$white_alpha_08: rgba(255,255,255,0.8);
$black_alpha_001: rgba(0,0,0,0.01);
$black_alpha_01: rgba(0,0,0,0.1);
$black_alpha_02: rgba(0,0,0,0.2);
$black_alpha_03: rgba(0,0,0,0.3);
$black_alpha_015: rgba(0,0,0,0.15);
$header-selector: #F7F9FB;
$sidebar-language-selector: #414c64;