<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 18 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
        d="M16.5 0H1.5C1.10218 0 0.720644 0.158034 0.43934 0.439339C0.158035 0.720643 0 1.10218 0 1.5L0 12.5C0 12.8978 0.158035 13.2794 0.43934 13.5607C0.720644 13.842 1.10218 14 1.5 14H16.5C16.8978 14 17.2794 13.842 17.5607 13.5607C17.842 13.2794 18 12.8978 18 12.5V1.5C18 1.10218 17.842 0.720643 17.5607 0.439339C17.2794 0.158034 16.8978 0 16.5 0ZM5.5 3C5.89556 3 6.28224 3.1173 6.61114 3.33706C6.94004 3.55682 7.19638 3.86918 7.34776 4.23463C7.49913 4.60009 7.53874 5.00222 7.46157 5.39018C7.3844 5.77814 7.19392 6.13451 6.91421 6.41422C6.63451 6.69392 6.27814 6.8844 5.89018 6.96157C5.50222 7.03874 5.10009 6.99913 4.73463 6.84776C4.36918 6.69638 4.05682 6.44004 3.83706 6.11114C3.6173 5.78224 3.5 5.39556 3.5 5C3.5 4.46957 3.71071 3.96086 4.08579 3.58578C4.46086 3.21071 4.96957 3 5.5 3ZM9 10.4C8.98595 10.5721 8.90453 10.7317 8.77344 10.844C8.64235 10.9564 8.4722 11.0124 8.3 11H2.7C2.5278 11.0124 2.35765 10.9564 2.22656 10.844C2.09547 10.7317 2.01405 10.5721 2 10.4V9.8C2.04291 9.28406 2.28739 8.80581 2.68047 8.46888C3.07355 8.13196 3.58357 7.96349 4.1 8H4.256C4.64983 8.16494 5.07253 8.24988 5.4995 8.24988C5.92647 8.24988 6.34917 8.16494 6.743 8H6.9C7.41643 7.96349 7.92645 8.13196 8.31953 8.46888C8.71261 8.80581 8.95709 9.28406 9 9.8V10.4ZM16 8.75C15.9997 8.81622 15.9733 8.87966 15.9265 8.92649C15.8797 8.97331 15.8162 8.99974 15.75 9H11.25C11.1838 8.99974 11.1203 8.97331 11.0735 8.92649C11.0267 8.87966 11.0003 8.81622 11 8.75V8.25C11.0003 8.18378 11.0267 8.12034 11.0735 8.07351C11.1203 8.02669 11.1838 8.00026 11.25 8H15.75C15.8162 8.00026 15.8797 8.02669 15.9265 8.07351C15.9733 8.12034 15.9997 8.18378 16 8.25V8.75ZM16 6.75C15.9997 6.81622 15.9733 6.87966 15.9265 6.92649C15.8797 6.97331 15.8162 6.99974 15.75 7H11.25C11.1838 6.99974 11.1203 6.97331 11.0735 6.92649C11.0267 6.87966 11.0003 6.81622 11 6.75V6.25C11.0003 6.18378 11.0267 6.12034 11.0735 6.07351C11.1203 6.02669 11.1838 6.00026 11.25 6H15.75C15.8162 6.00026 15.8797 6.02669 15.9265 6.07351C15.9733 6.12034 15.9997 6.18378 16 6.25V6.75ZM16 4.75C15.9997 4.81622 15.9733 4.87966 15.9265 4.92649C15.8797 4.97331 15.8162 4.99974 15.75 5H11.25C11.1838 4.99974 11.1203 4.97331 11.0735 4.92649C11.0267 4.87966 11.0003 4.81622 11 4.75V4.25C11.0003 4.18378 11.0267 4.12034 11.0735 4.07351C11.1203 4.02669 11.1838 4.00026 11.25 4H15.75C15.8162 4.00026 15.8797 4.02669 15.9265 4.07351C15.9733 4.12034 15.9997 4.18378 16 4.25V4.75Z"
        :fill="fill"
    />
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
