<template>
    <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 14 16" fill="none">
    <path d="M3.89489 0C2.60687 0 1.56294 1.0744 1.56294 2.4H0.591291C0.514038 2.39888 0.437338 2.41356 0.365649 2.44321C0.29396 2.47286 0.228712 2.51688 0.173696 2.5727C0.118679 2.62853 0.0749924 2.69505 0.0451739 2.76841C0.0153555 2.84176 0 2.92048 0 3C0 3.07952 0.0153555 3.15824 0.0451739 3.23159C0.0749924 3.30495 0.118679 3.37147 0.173696 3.4273C0.228712 3.48312 0.29396 3.52714 0.365649 3.55679C0.437338 3.58644 0.514038 3.60112 0.591291 3.6H1.56294V4.8H0.591291C0.514038 4.79888 0.437338 4.81356 0.365649 4.84321C0.29396 4.87286 0.228712 4.91688 0.173696 4.9727C0.118679 5.02853 0.0749924 5.09505 0.0451739 5.16841C0.0153555 5.24176 0 5.32049 0 5.4C0 5.47952 0.0153555 5.55824 0.0451739 5.63159C0.0749924 5.70495 0.118679 5.77147 0.173696 5.8273C0.228712 5.88312 0.29396 5.92714 0.365649 5.95679C0.437338 5.98644 0.514038 6.00112 0.591291 6H1.56294V7.2H0.591291C0.514038 7.19888 0.437338 7.21356 0.365649 7.24321C0.29396 7.27286 0.228712 7.31688 0.173696 7.3727C0.118679 7.42853 0.0749924 7.49505 0.0451739 7.56841C0.0153555 7.64176 0 7.72049 0 7.8C0 7.87952 0.0153555 7.95824 0.0451739 8.03159C0.0749924 8.10495 0.118679 8.17147 0.173696 8.2273C0.228712 8.28312 0.29396 8.32714 0.365649 8.35679C0.437338 8.38644 0.514038 8.40112 0.591291 8.4H1.56294V9.6H0.591291C0.514038 9.59888 0.437338 9.61356 0.365649 9.64321C0.29396 9.67286 0.228712 9.71688 0.173696 9.7727C0.118679 9.82853 0.0749924 9.89505 0.0451739 9.96841C0.0153555 10.0418 0 10.1205 0 10.2C0 10.2795 0.0153555 10.3582 0.0451739 10.4316C0.0749924 10.5049 0.118679 10.5715 0.173696 10.6273C0.228712 10.6831 0.29396 10.7271 0.365649 10.7568C0.437338 10.7864 0.514038 10.8011 0.591291 10.8H1.56294V12H0.591291C0.514038 11.9989 0.437338 12.0136 0.365649 12.0432C0.29396 12.0729 0.228712 12.1169 0.173696 12.1727C0.118679 12.2285 0.0749924 12.2951 0.0451739 12.3684C0.0153555 12.4418 0 12.5205 0 12.6C0 12.6795 0.0153555 12.7582 0.0451739 12.8316C0.0749924 12.9049 0.118679 12.9715 0.173696 13.0273C0.228712 13.0831 0.29396 13.1271 0.365649 13.1568C0.437338 13.1864 0.514038 13.2011 0.591291 13.2H1.56294V13.6C1.56294 14.9256 2.60687 16 3.89489 16H11.6681C12.9561 16 14 14.9256 14 13.6V2.4C14 1.0744 12.9561 0 11.6681 0H3.89489ZM5.06086 2.4H10.5021C10.9315 2.4 11.2794 2.758 11.2794 3.2V6.4C11.2794 6.842 10.9315 7.2 10.5021 7.2H5.06086C4.63139 7.2 4.28354 6.842 4.28354 6.4V3.2C4.28354 2.758 4.63139 2.4 5.06086 2.4ZM5.64385 3.2C5.5666 3.19888 5.4899 3.21356 5.41821 3.24321C5.34652 3.27286 5.28127 3.31688 5.22625 3.3727C5.17124 3.42853 5.12755 3.49505 5.09773 3.56841C5.06791 3.64176 5.05256 3.72048 5.05256 3.8C5.05256 3.87952 5.06791 3.95824 5.09773 4.03159C5.12755 4.10495 5.17124 4.17147 5.22625 4.2273C5.28127 4.28312 5.34652 4.32714 5.41821 4.35679C5.4899 4.38644 5.5666 4.40112 5.64385 4.4H9.91909C9.99634 4.40112 10.073 4.38644 10.1447 4.35679C10.2164 4.32714 10.2817 4.28312 10.3367 4.2273C10.3917 4.17147 10.4354 4.10495 10.4652 4.03159C10.495 3.95824 10.5104 3.87952 10.5104 3.8C10.5104 3.72048 10.495 3.64176 10.4652 3.56841C10.4354 3.49505 10.3917 3.42853 10.3367 3.3727C10.2817 3.31688 10.2164 3.27286 10.1447 3.24321C10.073 3.21356 9.99634 3.19888 9.91909 3.2H5.64385ZM5.64385 5.2C5.5666 5.19888 5.4899 5.21356 5.41821 5.24321C5.34652 5.27286 5.28127 5.31688 5.22625 5.3727C5.17124 5.42853 5.12755 5.49505 5.09773 5.56841C5.06791 5.64176 5.05256 5.72049 5.05256 5.8C5.05256 5.87952 5.06791 5.95824 5.09773 6.03159C5.12755 6.10495 5.17124 6.17147 5.22625 6.2273C5.28127 6.28312 5.34652 6.32714 5.41821 6.35679C5.4899 6.38644 5.5666 6.40112 5.64385 6.4H9.91909C9.99634 6.40112 10.073 6.38644 10.1447 6.35679C10.2164 6.32714 10.2817 6.28312 10.3367 6.2273C10.3917 6.17147 10.4354 6.10495 10.4652 6.03159C10.495 5.95824 10.5104 5.87952 10.5104 5.8C10.5104 5.72049 10.495 5.64176 10.4652 5.56841C10.4354 5.49505 10.3917 5.42853 10.3367 5.3727C10.2817 5.31688 10.2164 5.27286 10.1447 5.24321C10.073 5.21356 9.99634 5.19888 9.91909 5.2H5.64385Z"
    :fill="fill"/>
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 14
    },
    height: {
      type: [Number, String],
      default: 16
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
