<template>
  <div>
    <div v-if="editing" class="merm-container">
      <p class="text-ibm-plex-sans loading" v-if="loading">
          {{ $t('Loading') }}
          <font-awesome-icon icon="spinner" class="fa-lg" spin /></p>
      <div class="edit-merm-header">
        <div class="header-btn-container">
          <Button id="editMermCancelBtn" class="header-btn" :label="$t('cancel')" :color="'white'" @click="cancel()"/>
          <Button id="editMermSubmitBtn" :label="$t('submit')" :color="'primary'" @click="submit()"/>
        </div>
      </div>
        <div id="divMerm" class="merm-data-container">
          <div v-if="!mermDetails.Editable" class="merm-data">
            <label for="mermImei" class="control-label">{{ $t('merm_serial_number') }}</label>
            <Select class="field-margin-zero" name="singleSelect" v-model="mermDetails.Imei" :isDisabled="true" />
          </div>
          <div v-else class="merm-data">
            <label for="mermImei" class="control-label">{{ $t('merm_serial_number') }}</label>
            <Select class="field-margin-zero imeiSelect" name="singleSelect" v-model="mermDetails.Imei" :allOptions="mermDetails.AvailableMerm" @change="getMermMetrics()"/>
          </div>
          <div class="merm-data">
            <label for="mermLastSeen" class="control-label">{{ $t('merm_last_seen') }}</label>
            <Input class="field-margin-zero" name="lastSeen" v-model="mermDetails.LastSeen"  :isDisabled="true"/>
          </div>
          <div class="merm-data">
            <label for="mermLastBattery" class="control-label">{{ $t('merm_last_known_battery_level') }}</label>
            <Input class="field-margin-zero" name="lastBattery" v-model="mermDetails.LastBattery" :isDisabled="true"/>
          </div>
          <div class="merm-data">
            <label for="mermAlarm" class="control-label">{{ $t('merm_alarm_enabled') }}</label>
            <Checkbox class="field-margin-zero" name="alarm" :optionsWithKeyValue="[{ Value: '', Key: 'true' }]" label="" v-model="mermDetails.AlarmEnabled"/>
          </div>
          <div v-if="alarmEnabled" id="mermAlarmDiv" class="merm-data">
            <label for="mermAlarmTime" class="control-label">{{ $t('merm_alarm_time') }}</label>
            <Select class="field-margin-zero" name="alarmTime" v-model="mermDetails.AlarmTime" :allOptions="allOptions"/>
          </div>
          <div class="merm-data">
            <label for="mermRefillAlarm" class="control-label">{{ $t('merm_refill_alarm_enabled') }}</label>
            <Checkbox class="field-margin-zero" name="refillAlarm" :optionsWithKeyValue="[{ Value: '', Key: 'true' }]" label="" v-model="mermDetails.RefillAlarmEnabled"/>
          </div>
          <div v-if="refillAlarmEnabled" id="mermRefillAlarmDiv" class="merm-data">
            <label for="mermRefillAlarmDate" class="control-label">{{ $t('MermRefillAlarmDate') }}</label>
            <DatePicker class="field-margin-zero" name="refillAlarmDate" :to="DateTo" v-model="mermDetails.RefillAlarmDate" />
          </div>
          <div v-if="refillAlarmEnabled" id="mermRefillAlarmDiv" class="merm-data">
            <label for="mermRefillAlarmTime" class="control-label">{{ $t('MermRefillAlarmTime') }}</label>
            <Select class="field-margin-zero" name="refillAlarmTime" v-model="mermDetails.RefillAlarmTime" :allOptions="allOptions"/>
          </div>
        </div>
    </div>
    <div v-else>
      <div v-if="showMessage" class="loading text-ibm-plex-sans">{{ message }}</div>
      <div>
        <MERM :patientId="patientId"/>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'
import DatePicker from '../../../../shared/components/DatePicker.vue'
import Button from '../../../../shared/components/Button.vue'
import Select from '../../../../shared/components/Select.vue'
import Checkbox from '../../../../shared/components/CheckboxGroup.vue'
import Input from '../../../../shared/components/Input.vue'

export default {
  name: 'EditMerm',
  data () {
    return {
      DateTo: new Date(Date.now() - 86400000),
      editing: true,
      message: null,
      loading: false,
      showMessage: false,
      metricsData: null,
      allOptions: [
        { Key: '00:00', Value: '00:00' },
        { Key: '00:30', Value: '00:30' },
        { Key: '01:00', Value: '01:00' },
        { Key: '01:30', Value: '01:30' },
        { Key: '02:00', Value: '02:00' },
        { Key: '02:30', Value: '02:30' },
        { Key: '03:00', Value: '03:00' },
        { Key: '03:30', Value: '03:30' },
        { Key: '04:00', Value: '04:00' },
        { Key: '04:30', Value: '04:30' },
        { Key: '05:00', Value: '05:00' },
        { Key: '05:30', Value: '05:30' },
        { Key: '06:00', Value: '06:00' },
        { Key: '06:30', Value: '06:30' },
        { Key: '07:00', Value: '07:00' },
        { Key: '07:30', Value: '07:30' },
        { Key: '08:00', Value: '08:00' },
        { Key: '08:30', Value: '08:30' },
        { Key: '09:00', Value: '09:00' },
        { Key: '09:30', Value: '09:30' },
        { Key: '10:00', Value: '10:00' },
        { Key: '10:30', Value: '10:30' },
        { Key: '11:00', Value: '11:00' },
        { Key: '11:30', Value: '11:30' },
        { Key: '12:00', Value: '12:00' },
        { Key: '12:30', Value: '12:30' },
        { Key: '13:00', Value: '13:00' },
        { Key: '13:30', Value: '13:30' },
        { Key: '14:00', Value: '14:00' },
        { Key: '14:30', Value: '14:30' },
        { Key: '15:00', Value: '15:00' },
        { Key: '15:30', Value: '15:30' },
        { Key: '16:00', Value: '16:00' },
        { Key: '16:30', Value: '16:30' },
        { Key: '17:00', Value: '17:00' },
        { Key: '17:30', Value: '17:30' },
        { Key: '18:00', Value: '18:00' },
        { Key: '18:30', Value: '18:30' },
        { Key: '19:00', Value: '19:00' },
        { Key: '19:30', Value: '19:30' },
        { Key: '20:00', Value: '20:00' },
        { Key: '20:30', Value: '20:30' },
        { Key: '21:00', Value: '21:00' },
        { Key: '21:30', Value: '21:30' },
        { Key: '22:00', Value: '22:00' },
        { Key: '22:30', Value: '22:30' },
        { Key: '23:00', Value: '23:00' },
        { Key: '23:30', Value: '23:30' }
      ]
    }
  },
  props: {
    patientId: {
      type: [String]
    }
  },
  components: {
    DatePicker,
    Button,
    Select,
    Checkbox,
    Input,
    MERM: () => import('./MERM.vue')
  },
  computed: {
    ...mapState('MERM', ['mermDetails']),
    alarmEnabled () {
      return (Array.isArray(this.mermDetails.AlarmEnabled) &&
        this.mermDetails.AlarmEnabled.length === 1 &&
        this.mermDetails.AlarmEnabled[0] === 'true')
    },
    refillAlarmEnabled () {
      return (Array.isArray(this.mermDetails.RefillAlarmEnabled) &&
        this.mermDetails.RefillAlarmEnabled.length === 1 &&
        this.mermDetails.RefillAlarmEnabled[0] === 'true')
    }
  },
  methods: {
    ...mapActions('MERM', ['getMermDetails', 'updateMermDetails', 'getLastSeenAndBattery']),
    async submit () {
      this.loading = true
      var pickedDate = new Date(this.mermDetails.RefillAlarmDate).toLocaleDateString()
      const alarmEnabled = this.mermDetails.AlarmEnabled ? (this.mermDetails.AlarmEnabled.length === 1 && this.mermDetails.AlarmEnabled[0] === 'true') : null
      const refillAlarmEnabled = this.mermDetails.RefillAlarmEnabled ? (this.mermDetails.RefillAlarmEnabled.length === 1 && this.mermDetails.RefillAlarmEnabled[0] === 'true') : null
      this.message = await this.updateMermDetails({ patientId: this.patientId, imei: this.mermDetails.Imei.Key, alarmEnabled: alarmEnabled, refillAlarmEnabled: refillAlarmEnabled, alarmTime: this.mermDetails.AlarmTime.Key, refillAlarmDate: pickedDate, refillAlarmTime: this.mermDetails.RefillAlarmTime.Key })
      this.showMessage = true
      this.loading = false
      this.editing = false
      setTimeout(() => { this.showMessage = false }, 1000)
    },
    cancel () {
      this.editing = false
    },
    async getMermMetrics () {
      this.metricsData = await this.getLastSeenAndBattery(this.mermDetails.Imei.Key)
      this.mermDetails.LastBattery = this.metricsData.BatteryLevel
      this.mermDetails.LastSeen = this.metricsData.LastSeen
    },
    convertToKeyValue () {
      this.mermDetails.Imei = { Key: this.mermDetails.Imei, Value: this.mermDetails.Imei }
      this.mermDetails.AlarmTime = { Key: this.mermDetails.AlarmTime, Value: this.mermDetails.AlarmTime }
      this.mermDetails.RefillAlarmTime = { Key: this.mermDetails.RefillAlarmTime, Value: this.mermDetails.RefillAlarmTime }
      this.mermDetails.AlarmEnabled = this.mermDetails.AlarmEnabled === true ? ['true'] : null
      this.mermDetails.RefillAlarmEnabled = this.mermDetails.RefillAlarmEnabled === true ? ['true'] : null
      if (this.mermDetails.LastSeen === null) {
        this.mermDetails.LastSeen = this.$t('Never')
      }
    }
  },
  beforeMount () {
    this.convertToKeyValue()
  }
}

</script>

<style lang="scss" scoped>
#divMerm {
  color: var(--text-primary-color);
}
.edit-merm-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 10px 0;
}
.header-btn {
  margin-right: 10px;
}
.merm-container {
  padding: 10px;
  background-color: var(--background-color-primary-light-dark);
}
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    justify-content: end;
}
.merm-data-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}
.merm-data {
    display: grid;
    grid-template-columns: repeat(2, 1000fr);
    justify-items: left;
    align-items: center;
    margin: 5px;
}
.field-margin-zero {
  margin: 0px !important;
}
.merm-line {
  margin: 0px 0 10px 0;
  height: 1px;
  background-color: #cacbd9;
  border: none;
}
.loading {
    margin-top: 10px !important;
    text-align: center;
}
</style>
